body {
    margin: 0;
}

#header{
    position:relative;
    width:100%;
    height:50px;
    background-color:#00cec9;
    background-clip: content-box;
}

#left {
    position:relative;
    float:left;
    overflow:hidden;
    width:14%;
    height:920px;
    padding: 0.5%;
    background-color:whitesmoke;
    background-clip: content-box;
}

#left_top {
    position:relative;
    float:left;
    overflow:hidden;
    width:100%;
    height:475px;
    padding: 0.5%;
    background-clip: content-box;
}

#left_bottom {
    position:relative;
    float:left;
    overflow:hidden;
    width:100%;
    height:435px;
    padding: 0.5%;
    background-clip: content-box;
}


#section {
    position:relative;
    float:left;
    overflow:hidden;
    width:67%;
    height:920px;
    padding: 0.5%;
    background-clip: content-box;
}

#section_top {
    position:relative;
    float:left;
    overflow:hidden;
    width:100%;
    height:620px;
    padding-right: : 0.5%;
    padding-top: 0.5%;
    padding-left: 0.5%;
    background-clip: content-box;
}

#section_bottom {
    position:relative;
    float:left;
    overflow:hidden;
    width:100%;
    height:295px;
    padding-right: : 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0.5%;
    background-clip: content-box;
}

#right {
    position:relative;
    float:right;
    overflow:hidden;
    width:19%;
    height:920px;
    padding: 0.5%;
    background-color:whitesmoke;
    background-clip: content-box;
}

#right_top {
    position:relative;
    float:left;
    overflow:hidden;
    width:100%;
    height:405px;
    padding: 0.5%;
    background-clip: content-box;
}


#right_bottom {
    position:relative;
    float:left;
    overflow:hidden;
    width:100%;
    height:505px;
    padding: 0.5%;
    background-clip: content-box;
}

p#left_option {
    text-align: left;
    font-family: Open Sans;
    font-size: 1.5em;
    color: #666666;
    font-weight: bold;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 5%;
    margin: 0;
}

p#right_option {
    text-align: left;
    font-family: Open Sans;
    font-size: 1.6em;
    color: #666666;
    font-weight: bold;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 5%;
    margin: 0;
}

p#section_top_p {
    font-family: Open Sans;
    font-size: 1.5em;
    color: #666666;
    font-weight: bold;
    padding-left: 1%;
    margin: 0;
}

p#section_bottom_p {
    font-family: Open Sans;
    font-size: 1.5em;
    color: #666666;
    font-weight: bold;
    padding-left: 1%;
    margin: 0;
}


p#header_p_left {
    position: relative;
    text-align: left;
    font-family: Open Sans;
    font-size: 2em;
    color: white;
    font-weight: bold;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 1%;
    margin: 0;
}

p#header_p_right {
    position: relative;
    text-align: right;
    font-family: Open Sans;
    font-size: 2em;
    color: white;
    font-weight: bold;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 2%;
    margin: 0;
}

p#footer_p{
    font-size: 1em;
}

a#header_a{
    font-family: Open Sans;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

a#footer_a{
    font-family: Open Sans;
    color: #f3c623;
    font-weight: bold;
    cursor: pointer;
}

#header_left{
    float:left;
    width:49%;
    height:50px;
    padding-top: 0.1%;
    background-clip: content-box;
}

#header_right{
    float:right;
    width:49%;
    height:50px;
    padding-top: 0.1%;
    background-clip: content-box;
}

#footer {
    height:20px;
    text-align: center;
    color: white;
    background-color:#717171;
    clear:both;
}

select#op_postposition { /*text-align-last:center;*/
   width: 90%;
   height: 30px;
   font-size: 17px;
   border-radius: 3px;
   position: relative;
   left:5%;
   background: white;
   cursor: pointer;
}

select#op_function { /*text-align-last:center;*/
   width: 90%;
   height: 30px;
   font-size: 17px;
   border-radius: 3px;
   position: relative;
   left:5%;
   background: white;
   cursor: pointer;
}

select#op_method { /*text-align-last:center;*/
   width: 90%;
   height: 30px;
   font-size: 17px;
   border-radius: 3px;
   position: relative;
   left:5%;
   background: white;
   cursor: pointer;
}

select#op_window {
   width: 90%;
   height: 30px;
   font-size: 17px;
   border-radius: 3px;
   position: relative;
   left:5%;
   background: white;
   cursor: pointer;
}

input#onoff {
  cursor: pointer;
  position: relative;
  font-size: 14px;
  left:8%;
}


select#op_node_size {
   width: 90%;
   height: 30px;
   font-size: 17px;
   border-radius: 3px;
   position: relative;
   left:5%;
   background: white;
   cursor: pointer;
}

select#op_node_color {
   width: 90%;
   height: 30px;
   font-size: 17px;
   border-radius: 3px;
   position: relative;
   left:5%;
   background: white;
   cursor: pointer;
}


#container_leftbottom {
    border:2px solid #ccc;
    width:88%;
    height: 360px;
    position: absolute;
    left: 5%;
    overflow-y: scroll;
    overflow-x: auto;
    white-space: nowrap;
    border-radius: 10px;
    background: white;
}

#container_rightbottom {
    border:2px solid #ccc;
    width:92.5%;
    height: 430px;
    position: absolute;
    left: 5%;
    overflow-y: scroll;
    overflow-x: auto;
    white-space: nowrap;
    border-radius: 10px;
    background: white;
}

#container_section_bottom {
    border:2px solid #ccc;
    width:98%;
    height: 245px;
    position: absolute;
    left: 1%;
    overflow-y: scroll;
    overflow-x: auto;
    white-space: nowrap;
    border-radius: 8px;
    background: white;
}

.CB_leftbottom{
    cursor: pointer;
    position: relative;
    font-size: 14px;
    left:5%;
}

.networklinks line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.networknodes circle {
  stroke: #666666;
  stroke-width: 1.5px;
}

table {
    font-size: 15px;
    max-height: 200px;
    overflow: auto;
    background: #ddd;
    box-shadow: 0 0 1px 1px #ddd;
}

th, td {
    background: #fff;
    padding: 8px 16px;
    padding-bottom: 0px;
}

thead th {
    background-color: #ddd;
    position: sticky;
    top: 0;
}

div.tooltip {
    position: absolute;
    text-align: left;
    padding: 5px;
    font-size: 17px;
    background-color: #efefef;
    border: solid 1px #cecece;
    border-radius: 8px;
    box-shadow: 0 3px 5px 0 #dfdfdf;
    pointer-events: none;
}

h5 {
    font-size: 15px;
}

g.networknodes text {
    font-size: 13px;
}

text#nodegroup.nodetext {
    font-size: 13px;
}

@media all and (min-width:951px) and (max-height: 1000px) { /*0.95*/
    #header{
        height:47.55px;
    }
    #header_left{
        height:47.55px;
    }

    #header_right{
        height:47.55px;
    }
    #left {
        height:874.00px;
    }
    #left_top {
        height:460.75px;
    }
    #left_bottom {
        height:403.75px;
    }
    p#left_option {
        font-size: 1.42em;
    }
    p#right_option {
        font-size: 1.52em;
    }
    p#section_top_p {
        font-size: 1.42em;
    }
    p#section_bottom_p {
        font-size: 1.42em;
    }
    p#header_p {
        font-size: 1.90em;
    }
    p#header_p_left {
        font-size: 1.9em;
    }

    p#header_p_right {
        font-size: 1.9em;
    }

    p#footer_p{
        font-size: 0.95em;
    }
    #section {
        height:874.92px;
    }
    #section_top {
        height:589.62px;
    }
    #section_bottom {
        height:280.25px;
    }
    #right {
        height:874.92px;
    }
    #right_top {
        height:380.75px;
    }
    #right_bottom {
        height:465.75px;
    }
    #footer {
        height:19px;
    }
    select#op_postposition {
        height: 28.53px;
        font-size: 16.16px;
    }
    select#op_function {
        height: 28.53px;
        font-size: 16.16px;
    }
    select#op_method {
        height: 28.53px;
        font-size: 16.16px;
    }
    select#op_window {
        height: 28.53px;
        font-size: 16.16px;
    }
    select#op_node_size {
        height: 28.53px;
        font-size: 16.16px;
    }
    select#op_node_color {
        height: 28.53px;
        font-size: 16.16px;
    }
    input#onoff {
        font-size: 13.30px;
    }
    #container_leftbottom {
        height: 342px;
    }
    #container_rightbottom {
        height: 420px;
    }
    #container_section_bottom {
        height: 232.75px;
    }
    div.tooltip {
        padding: 4.75px;
        font-size: 16.16px;
        border-radius: 7.60px;
    }
    .CB_leftbottom{
        font-size: 14.26px;
    }
    table {
        font-size: 14.26px;
    }
    img#header_img{
        width: 33.28px;
        height: 30.43px;
    }
    h5 {
        font-size: 14.26px;
    }
    g.networknodes text {
        font-size: 12.35px;
    }
    text#nodegroup.nodetext {
        font-size: 12.35px;
    }
}
@media all and (min-width:901px) and (max-height: 950px) { /*0.948*/
    #header{
        height:45.05px;
    }
    #header_left{
        height:45.05px;
    }

    #header_right{
        height:45.05px;
    }
    #left {
        height:828.55px;
    }
    #left_top {
        height:432.52px;
    }
    #left_bottom {
        height:387.02px;
    }
    p#left_option {
        font-size: 1.35em;
    }
    p#right_option {
        font-size: 1.44em;
    }
    p#section_top_p {
        font-size: 1.35em;
    }
    p#section_bottom_p {
        font-size: 1.35em;
    }
    p#header_p {
        font-size: 1.80em;
    }
    p#header_p_left {
        font-size: 1.80em;
    }

    p#header_p_right {
        font-size: 1.80em;
    }
    p#footer_p{
        font-size: 0.9em;
    }
    #section {
        height:828.92px;
    }
    #section_top {
        height:558.62px;
    }
    #section_bottom {
        height:265.677px;
    }
    #right {
        height:828.92px;
    }
    #right_top {
        height:367.113px;
    }
    #right_bottom {
        height:432.433px;
    }
    #footer {
        height:18px;
    }
    select#op_postposition {
        height: 27.03px;
        font-size: 15.31px;
    }
    select#op_function {
        height: 27.03px;
        font-size: 15.31px;
    }
    select#op_method {
        height: 27.03px;
        font-size: 15.31px;
    }
    select#op_window {
        height: 27.03px;
        font-size: 15.31px;
    }
    select#op_node_size {
        height: 27.03px;
        font-size: 15.31px;
    }
    select#op_node_color {
        height: 27.03px;
        font-size: 15.31px;
    }
    input#onoff {
        font-size: 12.6px;
    }

    #container_leftbottom {
        height: 328.482px;
    }
    #container_rightbottom {
        height: 399.288px;
    }
    #container_section_bottom {
        height: 220.647px;
    }
    div.tooltip {
        padding: 4.50px;
        font-size: 15.31px;
        border-radius: 7.21px;
    }
    .CB_leftbottom{
        font-size: 13.51px;
    }
    table {
        font-size: 13.51px;
    }
    img#header_img{
        width: 31.53px;
        height: 28.83px;
    }
    h5 {
        font-size: 13.51px;
    }
    g.networknodes text {
        font-size: 11.71px;
    }
    text#nodegroup.nodetext {
        font-size: 11.71px;
    }
}

@media all and (min-width:819px) and (max-height: 900px) { /*0.909*/
    #header{
        height:40.95px;
    }
    #header_left{
        height:40.95px;
    }

    #header_right{
        height:40.95px;
    }
    #left {
        height:753.15px;
    }
    #left_top {
        height:388.9px;
    }
    #left_bottom {
        height:356.05px;
    }
    p#left_option {
        font-size: 1.22em;
    }
    p#right_option {
        font-size: 1.31em;
    }
    p#section_top_p {
        font-size: 1.22em;
    }
    p#section_bottom_p {
        font-size: 1.22715em;
    }
    p#header_p {
        font-size: 1.63em;
    }
    p#header_p_left {
        font-size: 1.63em;
    }

    p#header_p_right {
        font-size: 1.63em;
    }
    p#footer_p{
        font-size: 0.8em;
    }
    #section {
        height:753.56px;
    }
    #section_top {
        height:507.83px;
    }
    #section_bottom {
        height:241.5004px;
    }
    #right {
        height:753.56px;
    }
    #right_top {
        height:336.0691px;
    }
    #right_bottom {
        height:390.8982px;
    }
    #footer {
        height:16.4px;
    }
    select#op_postposition {
        height: 24.57px;
        font-size: 13.92px;
    }
    select#op_function {
        height: 24.57px;
        font-size: 13.92px;
    }
    select#op_method {
        height: 24.57px;
        font-size: 13.92px;
    }
    select#op_window {
        height: 24.57px;
        font-size: 13.92px;
    }
    select#op_node_size {
        height: 24.57px;
        font-size: 13.92px;
    }
    select#op_node_color {
        height: 24.57px;
        font-size: 13.92px;
    }
    input#onoff {
        font-size: 11.45px;
    }

    #container_leftbottom {
        height: 302.84px;
    }
    #container_rightbottom {
        height: 357.9498px;
    }
    #container_section_bottom {
        height: 200.5681px;
    }
    div.tooltip {
        padding: 4.09px;
        font-size: 13.92px;
        border-radius: 6.55px;
    }
    .CB_leftmiddle{
        font-size: 12.28px;
    }
    .CB_leftbottom{
        font-size: 12.28px;
    }
    table {
        font-size: 12.28px;
    }
    img#header_img{
        width: 28.66px;
        height: 26.21px;
    }
    h5 {
        font-size: 12.28px;
    }
    g.networknodes text {
        font-size: 10.64px;
    }
    text#nodegroup.nodetext {
        font-size: 10.64px;
    }
}

@media all and (min-width:701px) and (max-height: 818px) { /*0.856*/
    #header{
        height:35.05px;
    }
    #header_left{
        height:35.05px;
    }

    #header_right{
        height:35.05px;
    }
    #left {
        height:644.69px;
    }
    #left_top {
        height:325.89px;
    }
    #left_bottom {
        height:311.79px;
    }
    p#left_option {
        font-size: 1.05em;
    }
    p#right_option {
        font-size: 1.12em;
    }
    p#section_top_p {
        font-size: 1.05em;
    }
    p#section_bottom_p {
        font-size: 1.05em;
    }
    p#header_p {
        font-size: 1.40em;
    }
    p#header_p_left {
        font-size: 1.40em;
    }

    p#header_p_right {
        font-size: 1.40em;
    }
    p#footer_p{
        font-size: 0.7em;
    }
    #section {
        height:644.92px;
    }
    #section_top {
        height:434.62px;
    }
    #section_bottom {
        height:206.72px;
    }
    #right {
        height:644.92px;
    }
    #right_top {
        height:291.56px;
    }
    #right_bottom {
        height:331.12px;
    }
    #footer {
        height:14px;
    }
    select#op_postposition {
        height: 21.03px;
        font-size: 11.91px;
    }
    select#op_function {
        height: 21.03px;
        font-size: 11.91px;
    }
    select#op_method {
        height: 21.03px;
        font-size: 11.91px;
    }
    select#op_window {
        height: 21.03px;
        font-size: 11.91px;
    }
    select#op_node_size {
        height: 21.03px;
        font-size: 11.91px;
    }
    select#op_node_color {
        height: 21.03px;
        font-size: 11.91px;
    }
    input#onoff {
        font-size: 9.8px;
    }

    #container_leftbottom {
        height: 266.24px;
    }
    #container_rightbottom {
        height: 301.37px;
    }
    #container_section_bottom {
        height: 171.69px;
    }
    div.tooltip {
        padding: 3.50px;
        font-size: 11.91px;
        border-radius: 5.60px;
    }
    .CB_leftmiddle{
        font-size: 10.51px;
    }
    .CB_leftbottom{
        font-size: 10.51px;
    }
    table {
        font-size: 10.51px;
    }
    img#header_img{
        width: 24.53px;
        height: 22.43px;
    }
    h5 {
        font-size: 10.51px;
    }
    g.networknodes text {
        font-size: 9.11px;
    }
    text#nodegroup.nodetext {
        font-size: 9.11px;
    }
}

@media all and (min-width:450px) and (max-height: 700px) { /*0.642*/
    #header{
        height:22.5px;
    }
    #header_left{
        height:22.5px;
    }

    #header_right{
        height:22.5px;
    }
    #left {
        height:413.89px;
    }
    #left_top {
        height:200.9px;
    }
    #left_bottom {
        height:208.49px;
    }
    p#left_option {
        font-size: 0.675em;
    }
    p#right_option {
        font-size: 0.72em;
    }
    p#section_top_p {
        font-size: 0.675em;
    }
    p#section_bottom_p {
        font-size: 0.6741em;
    }
    p#header_p {
        font-size: 0.9em;
    }
    p#header_p_left {
        font-size: 0.9em;
    }

    p#header_p_right {
        font-size: 0.9em;
    }
    p#footer_p{
        font-size: 0.3em;
    }
    #section {
        height:414px;
    }
    #section_top {
        height:279px;
    }
    #section_bottom {
        height:132.7142px;
    }
    #right {
        height:414px;
    }
    #right_top {
        height:191.8039px;
    }
    #right_bottom {
        height:208.5866px;
    }
    #footer {
        height:9px;
    }
    select#op_postposition {
        height: 13.5px;
        font-size: 7.65px;
    }
    select#op_function {
        height: 13.5px;
        font-size: 7.65px;
    }
    select#op_method {
        height: 13.5px;
        font-size: 7.65px;
    }
    select#op_window {
        height: 13.5px;
        font-size: 7.65px;
    }
    select#op_node_size {
        height: 13.5px;
        font-size: 7.65px;
    }
    select#op_node_color {
        height: 13.5px;
        font-size: 7.65px;
    }
    input#onoff {
        font-size: 6.29px;
    }

    #container_leftbottom {
        height: 179.24px;
    }
    #container_rightbottom {
        height: 194.9495px;
    }
    #container_section_bottom {
        height: 110.225px;
    }
    div.tooltip {
        padding: 2.25px;
        font-size: 7.65px;
        border-radius: 3.6px;
    }
    .CB_leftmiddle{
        font-size: 6.75px;
    }
    .CB_leftbottom{
        font-size: 6.75px;
    }
    table {
        font-size: 6.75px;
    }
    img#header_img{
        width: 15.75px;
        height: 14.4px;
    }
    h5 {
        font-size: 6.75px;
    }
    g.networknodes text {
        font-size: 5.85px;
    }
    text#nodegroup.nodetext {
        font-size: 5.85px;
    }
}
